// set custom hex colors
$siteBgColorCustom: #FAF9F5; // website background
$sidebarBgColorCustom: #D2D2C5; // sidebar background

$textColorCustom: #221F1D; // text, NOT sidebar
$sidebarTextColorCustom: #221F1D; // text sidebar

$headlineColorCustom: #002845; // headlines
$headingColorCustom: #002845; // headings

$bodyLinkColorCustom: #AC5624; // body links
$navLinkColorCustom: #AC5624; // navbar links
$sidebarLinkColorCustom: #221F1D; // sidebar links

$footerTextColorCustom: #323132; // footer text

$buttonTextColorCustom: #FFFFFF; // button text
$buttonHoverTextColorCustom: #FFFFFF; // button text hover
$buttonBgColorCustom: #123852; // button background
$buttonHoverBgColorCustom: mix(#A23E02, #FFFFFF, 85); // button background hover

$borderColorCustom: #123852; // border bars
